body{	color: #121212;
	background-color: #c2defc;
	background-image:url(images/bg.png);
	}

h2
{
	margin: 0 4em 0 0;
	padding: 9px;
	font-size: 120%;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: capitalize;
	color: #244066;
}

h1
{
	margin: 0 4em 0 0;
	padding: 9px;
	font-size: 150%;
	font-weight: bold;
	font-variant: small-caps;
	text-transform: capitalize;
	text-decoration: underline overline;
	color: #244066;
}

.site
{
	background-color: #dbebfc;
	border: 1px solid #000;
	padding: 10px;
}

.menu
{
text-align: center;
border: 1px solid #444;
background-color: #f7f7f7;
font: 22px arial;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
font-variant: small-caps;
text-transform: capitalize;
}

.menu a:hover, .menu a:visited, .menu a:link
{
text-decoration: none;
color: #466695;
}

.menu a:hover
{
color: #22344c;
text-decoration:underline;
}


.form fieldset, .form2 fieldset
{
	display: block;
	width: 17em;
	margin: 0 0 3em 0;
	padding: 0 1em 1em 1em;
	background-color: #f5f5f5;
}

.form fieldset.radio
{
	width: 15em;
	margin: 1em 0 2em 0;
}

.form fieldset.radio input
{
	clear: both;
	float: left;
	width: auto;
}

.form fieldset.radio label
{
	font-weight: normal;
}

.form input, #checkout
{
	display: block;
	width: 15em;
}

.form label
{
	display: block;
	margin-bottom: 1em;
	font-weight: bold;
	
}

.form2 label
{
	margin-bottom: 1em;
	font-weight: bold;
	
}

.form label.first
{
	padding-top: 1em;
}

.form select
{
	display: block;
}

.form input, .form textarea, #checkout, #submit, #reset
{
	border: 1px solid #000;
}

table
{
	border: 1px solid #000;
	padding: 0;
	margin: 0;
	border-spacing: 0px;
	background-color: #f5f5f5;
}

td,tr
{
	border-left: 1px solid #000;
	padding: 0;
	margin: 0;
}

td
{
	border-bottom: 1px solid #000;
}

th
{
	border-bottom: 1px solid #000;
}

#hidden1
{
	border: 0;
}

#deletebutton
{
	width:1.5em;
}

